{{! The big featured header }}


  <header class="mdl-layout__header" id="header" style="background-color: #212121">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">{{@blog.title}}</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
      <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2">
        <input type="checkbox" id="switch-2" class="mdl-switch__input">
        <span class="mdl-switch__label">Night mode</span>
      </label>
      </nav>
    </div>
    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="http://blog.itkpi.pp.ua/about/" class="mdl-layout__tab">Про нас</a>
      <a href="http://blog.itkpi.pp.ua/tag/edu/" class="mdl-layout__tab">Education</a>
      <a href="http://blog.itkpi.pp.ua/tag/js/" class="mdl-layout__tab">JavaScript</a>
      <a href="http://blog.itkpi.pp.ua/tag/csharp/" class="mdl-layout__tab"> C# </a>
      <a href="http://blog.itkpi.pp.ua/tag/swift/" class="mdl-layout__tab">Swift</a>
      <a href="http://blog.itkpi.pp.ua/tag/fun/" class="mdl-layout__tab">Fun</a>
    </div>
  </header>
  
  <script type="text/javascript">
    document.getElementById('switch-2').onclick = function() {
      invert();
    };
  </script>